:root{
    --main-font: 'Roboto', Arial, sans-serif;
    --clr-primary: rgb(3,3,3);
    --bgr-accent: rgb(204,0,0);
    --clr-accent: rgb(255,255,255);
    --clr-secondary: rgb(96,96,96);
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    color: var(--clr-primary);
    font-size: .8rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

img {
    max-width: 100%;
    display: block;
}

.related-link img {
    width: 168px;
    height: 94px;
    display: inline-block;
}

.related-link div {
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    margin-top: 0;
}

.related-link h3 {
    line-height:0rem;
}

#main-title span {
    color: var(--clr-secondary);
}

.comment-time {
    color: var(--clr-secondary);
    font-weight: 100;
    font-size: 95%;
}

#menu-logo a{
    display: inline-block;
}