:root{
    --main-font: 'Roboto', Arial, sans-serif;
    --clr-primary: rgb(3,3,3);
    --bgr-accent: rgb(204,0,0);
    --clr-accent: rgb(255,255,255);
    --clr-secondary: rgb(96,96,96);
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    color: var(--clr-primary);
    font-size: .8rem;
}



img {
    max-width: 100%;
}

#main-title span {
    color: var(--clr-secondary);
}

.comment-time {
    color: var(--clr-secondary);
    font-weight: 100;
    font-size: 95%;
}